/* ====== Global variable ======*/
:root {
  /* of primary color*/
/* #022e57 */
/* #005a8d */
/* #ff96ad */
/* #fff5fd */
  
  --clr-primary-1: rgb(2, 46, 87);
  --clr-primary-2: rgb(0, 90, 141); 
  --clr-primary-3: rgb(255, 150, 173); 
  --clr-primary-4: rgb(255, 245, 253);
  --clr-primary-5:  rgb(157, 157, 157);
  --clr-light-opacity-1: rgb(0, 90, 141, 0.4);
  --primary-font:  'Gloria Hallelujah', cursive;
  --transition: all 0.3s linear;
  --light-shadow: 10px 6px 8px var(--clr-primary-3);
  --dark-shadow: 0px 0px 20px var(--clr-primary-2);
    --section-height: 600px;
    --section-width: 1400px;
}
/* ====== Global format ======*/
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--clr-primary-1);
    background-color: var(--clr-primary-4) ;
}

h2 {
    font-size: 3.5rem;
    text-transform: uppercase;
    letter-spacing: 8px;
}

h3 {
    text-transform: capitalize;
    font-size: 2rem;
}

h4 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}
p{
    margin-top: 10px;
}

button {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

ul, li {
    font-family: inherit;
    font-size: inherit;
}

/* ====== Element formats ======*/

/* navbar */
nav {
    position: fixed;
    top:0;
    background-color: var(--clr-primary-4) ;
    height: 100px;
    width: 100vw;  
    
}

.nav-display {
    display: none;
    z-index: -99;
}

#navbar {
    margin: auto;
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logo {
    flex: 3;
    color: var(--clr-primary-3);
    opacity: 1;
}

.nav-logo img {
    width: 260px;
    height: 100%;
    object-fit: contain;
}

.nav-links {
    flex: 2;
}
.nav-links ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
}
.nav-links li {
    position: relative;
    text-align: center;
}

.nav-links a {
    transition: var(--transition);

}
.nav-links a:hover {
    color: var(--clr-primary-3);
    text-shadow: 5px 5px 10px var(--clr-primary-3);
}

.nav-links-bg {
    height: 50px;
    position: absolute;
    z-index: -1;
    top: -40%;
    left: -2%;
    
}
.nav-links a {
    text-decoration: none;
    color: var(--clr-primary-2)
}

/* ====> main <==== */
/* introduciton section */
#intro-sec {
    margin: 125px auto 150px auto;
    height: 800px;
    width: 95vw;
    background-image: url(./img/intro-bg.png);
    background-size: cover;
    background-position: 50%, 50%;
    box-shadow: var(--dark-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-sec-container {
    background: var(--clr-light-opacity-1);
    width: 80%;
    height: 50%;
    text-align: center;
    color: var(--clr-primary-3);

}

.intro-sec-container h1{
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 7rem;
    text-transform: capitalize;
}

.intro-sec-container p {
    font-size: 2.5rem;
}

/* facts section */

#facts-sec {
    margin-bottom: 150px;
    height: 600px;
    width: 100vw;
    display: flex;
}

.facts-sec-container {
    margin: auto;
    height: 85%;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px; 
}
.facts-sec-img-container {
    height: 500px;
    position: relative;
}

.f-s-i-c-frame {
    border: var(--clr-primary-3) solid 10px;
    opacity: 0.7;
    height: 520px;
    width: 600px;
    position: absolute;
    left:10%;
    z-index: -1;
}

.f-s-i-c-frame.f1 {
    transform: rotate(25deg);
}
.f-s-i-c-frame.f2 {
    transform: rotate(10deg);
}


.facts-sec-img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.facts-sec-description {
    display: flex;
    flex-direction: column;
}
.facts-sec-description h2 {
  flex: 1;
  text-align: center;
} 
.f-s-d-text {
    flex: 5;
}

.f-s-d-button {
    flex:1;
    justify-content: flex-end;
}

.f-s-d-button button {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    height: 100%;
    width: 100%;
    border: none;
    background: var(--clr-primary-4);
    color: var(--clr-primary-1);
    border-radius: 50px;
    box-shadow: var(--light-shadow);
    transition: var(--transition);
    cursor: pointer;
}

.f-s-d-button button:hover {
    background: var(--clr-primary-1);
    color: var(--clr-primary-3);
}

.f-s-d-button-onclick{
    transform: scale(1.05);
}

/* gallery section */
#gallery-sec {
    margin: 0px auto 150px auto;
    width: 95vw;
    text-align: center;
}

.c-g-c-imgs {
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 400px);
    column-gap: 20px;
    row-gap: 20px;
}

.c-g-c-img-container {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px grey;
    position: relative;
    overflow: hidden;
    
}

.c-g-c-img-container:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1 / span 2;
}
.c-g-c-img-container:nth-child(3) {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
     filter: grayscale(100%);
}
.c-g-c-img-container:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2 / span 2;   
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
     filter: grayscale(100%);
}
.c-g-c-img-container:nth-child(6) {
    grid-column: 3/4;
    grid-row: 2 / span 2;
}
.c-g-c-img-container:nth-child(7) {
    grid-column: 1/ span 3;
    grid-row: 4/ span 2;
}

.c-g-c-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 20%;
      transition: var(--transition);
}
.c-g-c-img-container img:hover {
    transform: scale(1.2, 1.2) ;
}

/* about me section */
#aboutme-sec {
    background: var(--clr-primary-4);
    color: var(--clr-primary-1);
    width: 100vw;
    height: 650px;
    margin-bottom: 150px;
  
}

.aboutme-sec-container {
    margin: auto;
    padding: 50px;
    height: 100%;
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px; 
}

.am-s-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.am-s-d-title {
    color: var(--clr-primary-3);
}

.quote-mark {
    font-size: 3.5rem;
}

.am-s-img-container { 
    border-radius: 10%;
    overflow: hidden;
    background: var(--clr-primary-4);
    box-shadow: var(--light-shadow);
  
}
.am-s-img-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* contact sec */
#contact-sec {
    margin: 0px auto 100px auto;
    width: 95vw;
    background: var(--clr-primary-4);
    color: var(--clr-primary-1);
}


.contact-container{
    height: auto;
    width: 100%;
    text-align: center;
}

.c-infor {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 500px 1fr;
    align-items: center;   
}

.c-i-text ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    column-gap: 20px;
    row-gap: 20px;
    list-style: none;
}

.c-i-text li {
    text-overflow: wrap;
}

.c-i-cta a {
    transition: var(--transition);
    text-decoration: none;
    color: var(--clr-primary-3);
}

.c-i-cta a:hover {
    text-shadow: 5px 5px 10px var(--clr-primary-3);
}

